*{
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.nav{
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: 1px solid black;
    background-color: rgb(225, 225, 231);
    padding: 1rem;
}

.logo{
    font-weight: 700;
    letter-spacing: -0.02em;
    color: rgb(18, 14, 14);

}

.nav-links{
    list-style: none;
    display:flex;
    gap: 2rem;
    position: relative;

    
    
}

a{
    text-decoration: none;
    color: rgb(8, 3, 3);
    font-weight: 600;
}

.nav-links a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background: rgb(107, 6, 6);
    left: 0;
    bottom: -4px;
    transition: width 0.3s ease;
}

.nav-links a:hover::after{
    width: 100%;
}

.nav-links a{
    position: relative;
}

.nav-links a:hover{
    background-color: rgb(29, 130, 173);
}







